h1
{
	text-align: center;
	color: #484141;
    font-family: "COURIER";
}
a
{	
    text-decoration: none;
}
#accounts
{
	text-align: center;
}
.links
{
	
	font-family: "COURIER";
	font-size: 20pt;
}