body
{
      overflow-x:hidden;
}
#header
{
    text-align: center;
    font-family: ‘Merriweather’, Georgia, serif;
    color: #ebebeb;
    font-size: 40pt;
}

#line
{
    margin: 11pt auto;
    width: 100pt;
    height: 3pt;
    text-align: center;
    display: block;
    background: #ebebeb;
}

#lineAbout
{
      width: 100pt;
      height: 3pt;
      display: block;
      background: #ebebeb;
}

#aboutContent
{
      padding-top: 20px;
}

#theNav
{
    display: none;
}

#background1
{
    z-index: -2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1000px;
}

#background2
{
    z-index: -2;
    position: absolute;
    top: 1000px;
    left:0px;
    width: 100%;
    height: 1000px;
}

#background3
{
    z-index: -2;
    position: absolute;
    top: 2000px;
    left:0px;
    width: 100%;
    height: 1000px;
}

#background4
{
    z-index: -2;
    position: absolute;
    top: 3000px;
    left:0px;
    width: 100%;
    height: 1100px;
}
h2
{
    text-align: center;
    font-family: ‘Merriweather’, Georgia, serif;
    color: #ebebeb;
    font-size: 24pt;
}

.page
{
    height: 1000px;
}

.title, .content
{
      color:#ebebeb;
}

.content
{
      font-family: ‘Merriweather’, Georgia, serif;
      font-size: 14pt;
}

#github, #linkedin
{
      height: 200px;
      width: 200px;
      transition: all 0.2s;
}

#github
{
      margin-left: 40%;
}

#pfp
{
      width: 500px;
      height: 500px;
      border-radius: 50%;

}

.row
{
      /* margin-top: 3%;
      margin-left: 30%; */
      margin-left: 15%;
}


.col-lg-6
{
      margin-left: 7%;
}

.wrap
{
      position: relative;
      animation-name: up;
      animation-duration: 1.0s;
      -webkit-animation-name: up;
      -webkit-animation-duration: 1.0s;
}

.fade-in-up
{
      animation-name: fade-in;
      animation-duration: 1.0s;
      -webkit-animation-name: fade-in;
      -webkit-animation-duration: 1.0s;
}

@keyframes fade-in
{
      from
      {
            opacity: 0;
      }
      to
      {
            opacity: 1;
      }
}

@-webkit-keyframes fade-in
{
      from
      {
            opacity: 0;
      }
      to
      {
            opacity: 1;
      }
}

@keyframes up
{
      from
      {
            bottom: -20%;
      }
      to
      {
            bottom: 0%;
      }
}

@-webkit-keyframes up{
      from
      {
            bottom: -20%;
      }
      to
      {
            bottom: 0%;
      }
}

#msg
{
      height: 100px;
}
