html{min-height:100%;position:relative;}

.backgroundMain
{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -999;	
	opacity: 1;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease;
	transition-delay: .3s;
}
h1
{
	text-align: center;
	/*color: #484141;*/
	color: #ebebeb;
    font-family: ‘Merriweather’, Georgia, serif; 
}
a
{	
    text-decoration: none;
}
#accounts
{
	text-align: center;
	/*border:3px crimson;
	border-bottom-style: solid;*/
	margin:auto;
	width: 28%;
	
}
#split
{
	width: 700px;
    height: 1px;
    /*background-color: 	#1a1a1a;*/
	background-color: #ebebeb;
    margin: 0 auto;
}
.links
{
	
	font-family: ‘Merriweather’, Georgia, serif; 
	font-size: 20pt;
}
#top
{
	padding: 12px 20px;
    background-color: #2c3e50;
    border-radius: 12px 24px;
	color: #ebebeb;
	width: 50%;
	margin: auto;
}
.left 
{
    /*position:absolute;
    left:0; top:300px; bottom: 0;
    width: 178px;

    margin: 0 0 1px 0;
    float: left;
    position: relative;*/
	position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
   
    width: 400px;
	height: 100%;
    /*left: 2%;*/
    margin-left: 0;
	font-family: ‘Merriweather’, Georgia, serif; 
	font-size: 20pt;
	text-align: center;
    padding: 12px 20px;
    background-color: #2c3e50;
    border-radius: 12px 24px;
	color: #ebebeb;

	
}
.menu
{
	cursor:pointer;

}
.menu2
{
	cursor:pointer;
  
}
ul
{
	float:left;
	list-style-position:inside;
}
li:hover
{
	color: blue;
	cursor: pointer;			
}
#content 
{
	font-family: ‘Merriweather’, Georgia, serif; 
	margin-left : 25%;
	float: left; 
	text-align: center;
	margin-right: 25%;
}
span.dropdown
{
	font-size: 16pt;
	font-family: ‘Merriweather’, Georgia, serif; 
	display: none;
	cursor:pointer;
	    /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
}
#sciImg
{
	height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
}
.cs4All
{
	height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
}
#dwt
{
	height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
}
#ce1, #ce2, #ce3, #ce4
{
	height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
}
#gp, #gm
{
	height: auto; 
    width: auto; 
    max-width: 1000px; 
    max-height: 1000px;
}
.btn
{
	
	height: auto; 
    width: auto; 
    max-width: 450px; 
    max-height: 450px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	position: relative;
	right: 5%;
}
.btn:hover
{
	cursor: pointer;
}
item
{
	color: #ebebeb;
}
#blog
{
	color: inherit; 
	
}