h1
{
	text-align: center;
	color: #484141;
    font-family: "COURIER";
}
a
{	
    text-decoration: none;
}
#accounts
{
	text-align: center;
	/*border:3px crimson;
	border-bottom-style: solid;*/
	margin:auto;
	width: 30%;
	
}
#split
{
	width: 700px;
    height: 1px;
    background-color: 	#1a1a1a;
    margin: 0 auto;
}
.links
{
	
	font-family: "COURIER";
	font-size: 20pt;
}
.left 
{
    /*position:absolute;
    left:0; top:300px; bottom: 0;
    width: 178px;

    margin: 0 0 1px 0;
    float: left;
    position: relative;*/
	position: absolute;
    z-index: 2000;
    width: 89px;
    left: 10%;
    margin-left: 0;
	font-family: "COURIER";
	font-size: 20pt;
}
ul
{
	float:left;
	list-style-position:inside;
}
li:hover
{
	color: blue;
	cursor: pointer;			
}
#content 
{
	font-family: ‘Merriweather’, Georgia, serif; 
	margin-left : 25%;
	float: left; 
	text-align: center;
	margin-right: 25%;
}
