h1
{
	font-family: Helvetica;
	text-align: center;
	font-size:36pt;
}
.backgroundMain
{
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:-1;
	opacity:1;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease;
	transition-delay: .3s;	
}
.background
{
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:-1;
	opacity:0;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease;
	transition-delay: .3s;		
}
.dropdown 
{
	font: bold 18pt arial;
	display: inline-block;
	width: 22%;
	cursor:pointer;
	color: black;
}
.dropdown > a
{
	color: black;
	text-decoration: none;
}
.dropdown:hover
{
	color: red;
}
a:hover
{
	color: red;
}
.containerMenu
{
	margin: auto;
	text-align: center;		
	background-color: #bdc3c7;
	border-radius: 20px;
	padding: 12px 24px;
	border: solid black;
}
.btn
{
    font: bold 18pt verdana;
    letter-spacing: -3px;
    margin-left: 10px;
    text-decoration: none;
}
.btn > img
{
    position: relative;
    top: 5px;
    left: -20px;
    height: 60px;
    width: 70px;
    z-index: 1;
}
.farLeft
{
	font-size: 48pt;
	float: left;
	margin-left: 20%;
	margin-top: 10%;
	opacity:1;
	-webkit-animation-name:down-in;
	animation-name:down-in;
	animation-delay: 500ms;
	animation: down-in 2s;
	font-family: Berlin Sans FB;
}
.farRight
{
	font-size: 48pt;
	margin-left: 70%;
	margin-top: 10%;
	opacity:1;
	-webkit-animation-name:down-in;
	animation-name:down-in;
	animation-delay: 500ms;
	animation: down-in 2s;	
	font-family: Berlin Sans FB;
}
.botCenter
{	
	opacity:1;
	-webkit-animation-name:down-in;
	animation-name:down-in;
	animation-delay: 500ms;
	animation: down-in 2s;
	font-size: 48pt;
	text-align:center;
	margin-top:10%;
	font-family: Berlin Sans FB;
}
@-webkit-keyframes down-in
{
	0%
	{
		transform: translate3d(0,50px,0);
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}

@keyframes down-in
{
	0%
	{
		transform: translate3d(0,50px,0);
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}


