html, body
{
    height: 100%;
    background-color: #C0C0C0;
    text-align: center;
}

.subRow
{
    position: absolute;
    top: 35%;
    width: 88%;
    height:100%;
}

h1
{
    font: 36pt tahoma;
    color: #2C3E50;
    /* color: #ebebeb; */
    display: inline-block;
    margin: 0 auto;

}

/* body
{
     height: 90vh; 
}  */

.menubar, h1
{
	text-align: center;
}

.menulist
{
    width: 70%;
    padding: 12px 24px;
    /* background-color:orange; */
    background-color:#a3c1ad;
    border-radius: 20px;
    margin: auto;
}

div > .menu
{
    text-align: center;
}

ul > li
{
    display: inline;
    list-style-type: none;
}

li
{
    font: bold 18pt verdana;
    letter-spacing: -3px;
    margin-left: 30px;
    text-decoration: none;
}

.workCol
{
    border: 1px solid black;
    border-right: none;
    float: left;
    width: 18%;
    
}

.subCol
{
    margin-top: 1%;
    border: 1px solid black;
    border-right: none;
    float: left;
    width: 18%;    
    height: 100%;
}

#completed, #end
{
    border-right: 1px solid black;
}

#colContainer
{
    margin-left: 11%;
}

#logo
{
    height: auto; 
    width: auto; 
	max-width: 10%; 
    max-height: 10%;
    /* display: inline-block;
    position: relative;
    left: 8%; */
    align:left;
    vertical-align: center;
}

.btn
{
    /* font: bold 18pt verdana;
    letter-spacing: -3px;
    margin-left: 10px; */
    text-decoration: none;
}

li > a
{
    color: black;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.joey:hover
{
    color:gray;
}

.hans:hover
{
    color:gray;
}

.damon:hover
{
    color:gray;
}

.farhan:hover
{
    color:gray;
}

.brian:hover
{
    color:gray;
}